@page
@model WebApp.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to Ott's car service park! Choose your path:</p>
    <a class="btn btn-primary" href="/Shared/AdminLogin">Continue as Employee</a>
    <a class="btn btn-secondary" href="/Jobs/Create">Continue as Client</a>
</div>