@page
@model WebApp.Pages.Items.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Item.Id" />
            <div class="form-group">
                <label asp-for="Item.CategoryId" class="control-label"></label>
                <select asp-for="Item.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="Item.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.LocationId" class="control-label"></label>
                <select asp-for="Item.LocationId" class="form-control" asp-items="ViewBag.LocationId"></select>
                <span asp-validation-for="Item.LocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.CurrentQuantity" class="control-label"></label>
                <input asp-for="Item.CurrentQuantity" class="form-control" />
                <span asp-validation-for="Item.CurrentQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.OptimalQuantity" class="control-label"></label>
                <input asp-for="Item.OptimalQuantity" class="form-control" />
                <span asp-validation-for="Item.OptimalQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.PricePerItem" class="control-label"></label>
                <input asp-for="Item.PricePerItem" class="form-control" />
                <span asp-validation-for="Item.PricePerItem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
